//common styles
.cell-dark {
  background-color: $black;
  color: $white;
}
.cell-theme {
  background-color: darken($theme, 20%);
  color: $white;
}
.table-striped {
  tbody {
    tr:nth-of-type(odd) {
      background-color: lighten($theme, 42%) !important;
    }
    td {
      a {
        text-decoration: none;
        color: $gray-8 !important;

        &:hover {
          color: $theme !important;
        }
      }
    }
  }
}